<form ng-submit="logar(user.login, user.password)">
	<md-input-container>
	  <label>E-mail</label>
	  <input  type="text" class="form-control" id="inputUsername" placeholder="Usuário" ng-model="user.login">
	</md-input-container>

	<md-input-container>
	  <label>Senha</label>
	  <input type="password" class="form-control" id="inputPassword" placeholder="Senha" ng-model="user.password">
	</md-input-container>


	<md-input-container>
		 <md-button type="submit" class="md-raised md-primary"ng-click="logar(user.login, user.password)">Acessar</md-button>
	</md-input-container>


	<md-content layout-padding layout="row" layout-align="center center">
	  <p> {{erroMessage}} </p>
	</md-content>

<md-content layout-padding layout="row" layout-align="center center">
  <a href="#/cadastrar">Criar minha conta</a>
</md-content>
</form>